
/*****ESTILOS DEL PANEL DE CONTROL****/

body{
	font-family: sans-serif;
	background-color: #c0c7d3;
}
.principal{
	position: relative;
}
.sidebar{
	background-color:#a500f2;
	margin-bottom: -100000px;
 	padding-bottom: 100000px;
 	overflow: hidden;
 	color:#fff;
}
.sidebarli{
	list-style: none;
	margin-top: 100px;
	width:      100%;
	color:      #efb8e6;
}
.sidebarli li{
	margin-bottom: 20px;
}
.sidebarli a{
	text-decoration: none;
	color:#efb8e6 !important;
}
.sidebarli a:hover{
	text-decoration: none;
	color:#efb8e6 !important;
}
.sidebarli li i{
	margin-right: 20px;
}
.navegador{
	color:#343235 !important;
}
.navegador form{
	margin-right: 20px;
}
.navegador form button{
	background-color: #fff;
	border: 1px solid #a500f2;
	color:#a500f2;
}
.navegador form button:hover{
	background-color: #a500f2;
	border: 1px solid #a500f2;
	color:#fff;
}

.carga{
	background-color: red;
}
.divcongre{
	margin-top: 10px;
	margin-left: 10px;
	color:#fff;
}
.spancongre{
	background-color: #7f28a8;
	padding:10px;
	border-radius: 6px;
	font-size: 12px;
}
.conteprincipal{
	background-color: #e6e8ed;
	margin-bottom: -100000px;
 	padding-bottom: 100000px;
 	overflow: hidden;
}

.infousuario{
	background-color: #edeff2;
	margin-top: 0;
}
.soporte{
	font-size: 10px;
	cursor: pointer;
	margin-right: 5px;
}
.cerrarsesion{
	color:#a500f2;
}
.usermenu{
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}
.usermenu i{
	margin-right: 10px;
}

.nombreuser{
	color:#a500f2;
}
.h3perfil{
	margin-top: 30px;
	margin-bottom: 20px;
}
.listaperfil{
    -webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
 }

 .datos{
 	background-color: rgba(0,0,255,0.1);
 	padding: 5px;
 	border-radius: 5px;
 	text-transform: capitalize;
 }
 .datosemail{
 	background-color: rgba(0,0,255,0.1);
 	padding: 5px;
 	border-radius: 5px;
 }
 .fa-pen-nib{
 	cursor:pointer;
 	border: 1px solid #42f498;
 	padding: 8px;
 	border-radius: 4px;
 }
 .divnav{
 	background-color: #fff;
 }
 .btn-outline-primary{
 	display: none;
 }
  /*****ESTILOS MODAL DE LA PAGINA DE TERRITORIOS****/
  .modal_add_territorios,.modal_info_observaciones,.modal_add_campaing{
	position:fixed;
	top:-100vh;
	left:0;
	z-index: 99999999;
	background-color: rgba(0,0,0,0.4);
	width:100vw;
	height:100vh;
	opacity:0;
	transition: opacity 0.35s ease;
	text-align: center;
	overflow: auto;
}

.modal_add_territorios:target,.modal_info_observaciones:target,.modal_add_campaing:target{
	opacity: 1;
	top:0;
}
.modal_add_territorios:target .content_modal, .modal_info_observaciones:target .content_modal_observaciones,.modal_add_campaing:target .content_modal_campaing{
	margin-top:100px;
	text-align: center;
	background-color:#d0dae2;
    background-image: linear-gradient(to bottom right,#f7fbff,#d0dae2);
	border-radius: 5px;
	padding:20px;
	width: 50%;
	transition: top 0.35s easy;
	margin-left: 25%;
	overflow: auto;
}
 /******ESTILOS MODAL DE PAGINA DE PUBLICADORES*****/

.modal_add_publicadores{
	position:fixed;
	top:-100vh;
	left:0;
	z-index: 99999999;
	background-color: rgba(0,0,0,0.4);
	width:100vw;
	height:100vh;
	opacity:0;
	transition: opacity 0.35s ease;
	text-align: center;
	overflow: auto;
}

.modal_add_publicadores:target{
	opacity: 1;
	top:0;
}
.modal_add_publicadores:target .content_modal{
	margin-top:100px;
	text-align: center;
	background-color:#d0dae2;
    background-image: linear-gradient(to bottom right,#f7fbff,#d0dae2);
	border-radius: 5px;
	padding:20px;
	width: 50%;
	transition: top 0.35s easy;
	margin-left: 25%;
	overflow: auto;
}

/***modal infopublicador***/
.modal_info_publicadores,.modal_info_territorios,.modal_info_campaing{
	position:fixed;
	top:-100vh;
	left:0;
	z-index: 99999999;
	background-color: rgba(0,0,0,0.4);
	width:100vw;
	height:100vh;
	opacity:0;
	transition: opacity 0.35s ease;
	text-align: center;
	overflow: auto;
}

.modal_info_publicadores:target,.modal_info_territorios:target,.modal_info_campaing:target{
	opacity: 1;
	top:0;
}
.swal2-toast-shown .swal2-shown,{
	z-index: 999999999!important;
}
.swal2-shown,.swal2-modal,.swal2-popup,.swal2-cotainer{
	z-index: 999999999!important;
}

.modal_info_publicadores:target .content_modal_publicadores,.modal_info_territorios:target .content_modal_territorios,.modal_info_campaing:target .content_modal_campaing{
	margin-top:100px;
	text-align: center;
	background-color:#d0dae2;
    background-image: linear-gradient(to bottom right,#f7fbff,#d0dae2);
	border-radius: 5px;
	padding:20px;
	width: 70%;
	transition: top 0.35s easy;
	margin-left: 16%;
	overflow: auto;
	margin-bottom: 40px;
}

.close-modal{
	text-decoration: none;
	color:#fff;
	background-color: #ed8e94;
	padding:5px;
	border-radius:20px;

}
.close-modal:hover{
	text-decoration: none;
	color:#fff;
	background-color: #ed8e94;
	padding:5px;
	border-radius:20px;

}
.divagregar a{
	margin-left: 20px;
	text-decoration: none;
	color:#030223;
}
.divagregar a:hover{
	margin-left: 20px;
	text-decoration: none;
	color:#030223;
}
#error, #erroremail, #errorterritorios{
	color:#d64a54;
	font-weight: 900;
	margin-left: 20px;
}

.linea{
	margin-top: 5px;
	padding: 5px;
}
.linea:hover{
	background-color:#bcffe7;
	border-radius: 7px;
	padding: 5px;
}
#listdatapubli,.infoboxdata{
	background-color: #fff;
	padding:17px;
	border-radius: 8px;
	-webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
  	text-transform: capitalize;
  	margin-bottom: 50px;
}
#searchpubli,#searchterri{
	margin-top: 20px;
	background-color: #fff;
	padding:17px;
	border-radius: 8px;
	-webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
  	text-transform: capitalize;
  	margin-bottom: 50px;
  	display: none;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes animation {
    0% 	 {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes animation {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@-webkit-keyframes aviso {
    0% 	 {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes aviso {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

.animation{
    -webkit-animation-name: animation;
    animation-name: animation;
}
.aviso{
	margin-top: 10px;
	margin-left: 10px;
	text-transform: none;
	background-color:#f4425c;
	color:#fff;
	padding:10px;
	border-radius: 4px;
    display: none;
}
.aviso{
	-webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
	-webkit-animation-name: aviso;
    animation-name: aviso;
}
#div_email{
	text-transform:none!important;
}
#listdata{
	border-radius: 8px;
	-webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
}
.botonver{
	font-size: 12px!important;
}
.botonver i{
	margin-right: 7px;
}
.clasealer{
	background-color:#ed8e94;
	padding: 5px;
	border-radius: 5px;
	color:#fff;
}
.clasealer:hover{
	background-color:#ed8e94;
	padding: 5px;
	border-radius: 5px;
	color:#fff;
}
.clasealer div button{
	background-color: #fff;
	color:red;
	border:1px solid red;
}
.clasealer div button:hover{
	background-color: red;
	color:#fff;
	border:1px solid red;
}
.mi_perfil:target{
	background-color: red;
}
.firstline{
	background-color: black;
	color:white;
	padding: 10px;
	margin:0px;
	border-radius: 4px;
}
.page-link{
	display:inline-block !important;
}
.paginationpubli a{
	display:inline-block !important;
}
.fa-circle{
	color: #ed8e94;
}
.spancumplido{
	font-size: 12px;
	margin-left: 5px;
}
.infoboxdata .row{
	margin-top: 10px;
}
.fa-arrow-circle-right,.fa-arrow-circle-down{
	color:#7cef9b;
	margin-left: 5px;
}
.lineashowterritorios .col-md-5{
	margin:10px 0 0 30px;
}
.divpersonaldata{
	background-color: #cff9de;
	padding: 5px;
	border-radius: 5px;
}
.divemaildata{
	text-transform: none !important;
}
.botonasignar{
	margin-top: 25px;
	background-color: #06a3d3 !important;
	border:2px solid #06a3d3 !important;
	color:#fff !important;
	transition: 1s !important;
	font-size: 12px!important;
}
.botonasignar i,.botonbaja i{
	margin-right: 5px !important;
}
.botonasignar:hover{
	background-color: #004c63 !important;
	border: 2px solid #004c63 !important;
}
.botonbaja{
	margin-top: 25px;
	background-color: #ad0048 !important;
	border:2px solid #ad0048 !important;
	color:#fff !important;
	transition: 1s !important;
	font-size: 12px!important;
}
.botonbaja:hover{
	background-color: #fff !important;
	border: 2px solid #ad0048 !important;
	color:#ad0048 !important;
}
.botonbajater{
	background-color: #ad0048 !important;
	border:2px solid #ad0048 !important;
	color:#fff !important;
	transition: 1s !important;
}
.botonbajater:hover{
	background-color: #fff !important;
	border: 2px solid #ad0048 !important;
	color:#ad0048 !important;
}
.divagregartop{
	background-color:#a2b6d6;
	color:#fff;
	border-radius: 3px;
	padding:7px 15px 7px 15px;
  	transition: 1s !important;
}

.divagregartopancor{
	color:#fff;
}
.inputfile{
	display:none;
}
.botonimag{
	background-color:#fff;
	color:#ad8106;
	padding:7px 15px 7px 15px;
    border-radius: 10rem;
    border:1px solid #ad8106;
    transition: 1s !important;
}
.botonimag:hover{
	background-color:#ad8106;
	color:#fff;
	padding:7px 15px 7px 15px;
    border-radius: 10rem;
    border:1px solid #ad8106;
    transition: 1s !important;
}
.botonimag i{
	margin-right: 8px;
}
#nombreimg,#nameimg{
	color:#ad8106;
	font-weight: 900;
	margin-left: 10px;
}
.cargaterri{
	color:#49bc9c;
	font-weight: 900;
	margin-left: 30px;
}
.acerrarsesion:hover{
	text-decoration: none;
}

.asignado{
	color:#42f4b0;
}
.asignadocampaña{
	color:#e5a206;
	margin-left: 15px;
}
/**INFO TERRITORIO**/
.infoterri{
	color:#979da8;
	font-weight: 900;
	margin-left: 15px;
}
.infoterri1{
	color:#474849;
	font-weight: 600;
}
.primerainfo{
	padding:10px;
	border-radius: 5px;
	border:2px solid #bae2d6;
	background-color: #f4fffa;
}
.fa-times-circle{
	font-size: 150px;
	color:#e2bac0;
	margin-bottom: 10px;
}
.divimg{
	border:4px solid #450059;
	border-radius: 5px;
}
.divobservaciones{
	text-transform: none !important;
	background-color: #eaebf2;
	margin-left: 10px;
	padding: 10px;
}
.showbutton{
	margin-top: 15px;
}
.showobser, .buttonasignar{
	background-color:#036b33 !important;
	border:2px solid #036b33 !important;
	color:#fff !important;
}
.showobser:hover, .buttonasignar:hover{
	background-color:#fff !important;
	border:2px solid #036b33 !important;
	color:#036b33!important;
}
.showhistorial,.verobservaciones{
	background-color: #6b0354!important;
	border:2px solid #6b0354!important;
	color:#fff!important;
}
.showhistorial:hover,.verobservaciones:hover{
	background-color: #fff!important;
	border:2px solid #6b0354!important;
	color:#6b0354!important;
}
.lineaobservaciones,.lineacrearobservaciones{
	display: none;
}

.circlecerrar{
	font-size: 40px;
	color:#e2bac0; 
	cursor: pointer;
}

textarea{
	width: 100%;
	resize:vertical;
	min-height: 100px;
	max-height: 300px;
	padding:20px;
}
textarea:focus{
	border:2px solid #036b33;
}
.botonesterri{
	font-size: 11px!important;
}
.creacion{
	margin-left: 5px;
	font-size: 12px;
}
.alertborrar,.alertnoborrar{
	margin-left: 20px;
	margin-top:  15px;
}
.numeroterri{
    color:#6c757d;
    font-weight: 999;
}

.totalterri{
	margin-left: 10px;
	border:1px solid #186659;
	color:#186659;
	padding: 7px;
	border-radius: 40px;
}
#divasignarterri,#showterricampaing{
	margin-top: 10px;
	display: none;
}
#showterriservicio{
	padding:5px 15px 5px 15px;
	border:1px solid #06a3d3;
	border-radius: 5px;
}
.fa-times{
	cursor:pointer;
	color:#ff922b;
}
.divfa{
	margin-top: 0;
	margin-bottom: 10px;
}
.divobservacionasig{
	margin-top: 10px;
	background-color: rgba(0,0,255,0.1);
	border-radius: 5px;
	padding: 5px;
}
.labelfech{
	margin-top: 10px;
}
.divasig{
	padding: 13px;
	background-color: #f7f7f7;
	border:1px solid #f7f7f7;
	border-radius: 5px;
	-webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
  	transition: 1s !important;
}
.spanterriasig{
	display: none;
	text-transform: none;
	color:#d64a54;
	font-size: 13px;
}
.alerta{
	text-transform: none;
	color:#d64a54;
	font-size: 16px;
}
.divcampa{
	border:2px solid #84b3ff !important;
}
.bocina{
	margin-right:5px;
	color:#047e91;
}
.card-title{
	font-size: 17px;
}
.editterri{
	font-size: 23px;
	cursor: pointer;
	color:  #0f0584;
}
.subirimg{
	display:none;
	background-color: #036b33;
	border:2px solid #036b33;
	color:#fff;
	font-size: 11px;
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px;
}
.return{
	display:none;
	background-color: #ad0048;
	border:2px solid #ad0048;
	color:#fff;
	font-size: 11px;
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px;
}
.divterrifil{
	padding:10px;
	border-bottom:1px solid #628ed6;
	border-right: 1px solid #628ed6;
	border-left: 1px solid #628ed6;
	background-color: #fff;
}
.divterrifil:hover{
	background-color:#628ed6; 
	cursor: pointer;
}
.zo{
	margin-left: 5px;
}
.spanactivo,.fa-check{
	color:#42f486;
	font-weight: 999;
	margin-left: 10px;
}
.spancerrado{
	color:#e25353;
	font-weight: 999;
	margin-left: 10px;
}
.proceso{
	color:#9e9104;
	font-weight: 999;
	margin-left: 10px;
}
.trabajandose{
	color:#9e9104;
	margin-left: 5px;
	font-size: 17px;
	font-weight: 999;
}
.divchair{
	display: none;
}
.divstateterri{
	margin-left:  10px;
	margin-right: 10px;
	background-color:#f2f5f9;
	padding: 5px;
	margin-bottom: 5px;
}
.first{
	padding-left:8px;
	padding-right:8px;
}
.showterri{
	display: none;
}
.spanestadoterri{
	margin-left: 10px;
	font-weight: 999;
	font-size: 13px;
	color:#939285;
}
.spanestadotitle{
	margin-left: 10px;
	font-weight: 999;
	font-size: 13px;
	color:#fff;
}
.titlecontrol{
	color:#939285;
}
.titlerowfirst{
	background-color: #005059;
	padding:10px;
}
.botonescampaing{
	font-size: 12px!important;
	margin-top: 14px!important;
}
.botondesactivarcampaing{
	font-size: 12px!important;	
}
.positivo{
	color:#28a745;
}
.negativo{
	color:#dc3545;
}
.botocampaing{
	background-color:#4a5900!important;
	border:2px solid #4a5900!important;
}
.notification{
	border:2px solid #abb9d1!important;
}
@keyframes latidos {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
}

.divcam{
	color:#4a5900;
	animation: latidos 3s infinite;
	transform-origin: center;
	margin-bottom: 5px;
	font-size: 12px;
}
.divselectyear{
	background-color:#fff;
	margin-top: 15px;
	padding:10px;
	border-radius: 4px;
}
.datosservice{
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
}
.tableyear{
	background-color: #fff!important;
}
