
/*****ESTILOS DEL PANEL DE CONTROL****/

body{
	font-family: sans-serif;
	background-color: #c0c7d3;
}
.principal{
	position: relative;
}
.sidebar{
	background-color:#a500f2;
	margin-bottom: -100000px;
 	padding-bottom: 100000px;
 	overflow: hidden;
 	color:#fff;
}
.sidebarli{
	list-style: none;
	margin-top: 100px;
	width:      100%;
	color:      #efb8e6;
}
.sidebarli li{
	margin-bottom: 20px;
}
.sidebarli a{
	text-decoration: none;
	color:#efb8e6 !important;
}
.sidebarli a:hover{
	text-decoration: none;
	color:#efb8e6 !important;
}
.sidebarli li i{
	margin-right: 20px;
}
.navegador{
	background-color: #fff !important;
	color:#343235 !important;
}
.navegador form{
	margin-top: 10px;
	margin-right: 20px;
}
.navegador form button{
	background-color: #fff;
	border: 1px solid #a500f2;
	color:#a500f2;
}
.navegador form button:hover{
	background-color: #a500f2;
	border: 1px solid #a500f2;
	color:#fff;
}

.carga{
	background-color: red;
}
.divcongre{
	margin-top: 20px;
	margin-left: 10px;
}
.spancongre{
	background-color: #7f28a8;
	padding:10px;
	border-radius: 6px;
	font-size: 12px;
}
.conteprincipal{
	background-color: #e6e8ed;
	margin-bottom: -100000px;
 	padding-bottom: 100000px;
 	overflow: hidden;
}

.infousuario{
	background-color: #edeff2;
}
.soporte{
	font-size: 10px;
	cursor: pointer;
	margin-right: 5px;
}
.cerrarsesion{
	color:#a500f2;
}
.usermenu{
	padding-top: 10px;
}
.usermenu i{
	margin-right: 10px;
}

.nombreuser{
	color:#a500f2;
}
.h3perfil{
	margin-top: 30px;
	margin-bottom: 20px;
}
.listaperfil{
    -webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
 }

 .datos{
 	background-color: rgba(0,0,255,0.1);
 	padding: 5px;
 	border-radius: 5px;
 	text-transform: capitalize;
 }
 .datosemail{
 	background-color: rgba(0,0,255,0.1);
 	padding: 5px;
 	border-radius: 5px;
 }
 .fa-pen-nib{
 	cursor:pointer;
 	border: 1px solid #42f498;
 	padding: 8px;
 	border-radius: 4px;
 }
 .divnav{
 	background-color: #fff;
 }
 .btn-outline-primary{
 	display: none;
 }

 /******ESTILOS DE PAGINA DE PUBLICADORES*****/

.modal_add_publicadores{
	position:fixed;
	top:-100vh;
	left:0;
	z-index: 99999999;
	background-color: rgba(0,0,0,0.4);
	width:100vw;
	height:100vh;
	opacity:0;
	transition: opacity 0.35s ease;
	text-align: center;
}

.modal_add_publicadores:target{
	opacity: 1;
	top:0;
}
.modal_add_publicadores:target .content_modal{
	margin-top:100px;
	text-align: center;
	background-color:#d0dae2;
    background-image: linear-gradient(to bottom right,#f7fbff,#d0dae2);
	border-radius: 5px;
	padding:20px;
	width: 50%;
	transition: top 0.35s easy;
	margin-left: 25%;
}

/***modal infopublicador***/
.modal_info_publicadores{
	position:fixed;
	top:-100vh;
	left:0;
	z-index: 99999999;
	background-color: rgba(0,0,0,0.4);
	width:100vw;
	height:100vh;
	opacity:0;
	transition: opacity 0.35s ease;
	text-align: center;
}

.modal_info_publicadores:target{
	opacity: 1;
	top:0;
}
.modal_info_publicadores:target .content_modal_publicadores{
	margin-top:100px;
	text-align: center;
	background-color:#d0dae2;
    background-image: linear-gradient(to bottom right,#f7fbff,#d0dae2);
	border-radius: 5px;
	padding:20px;
	width: 50%;
	transition: top 0.35s easy;
	margin-left: 25%;
}

.close-modal{
	text-decoration: none;
	color:#fff;
	background-color: #ed8e94;
	padding:5px;
	border-radius:20px;

}
.close-modal:hover{
	text-decoration: none;
	color:#fff;
	background-color: #ed8e94;
	padding:5px;
	border-radius:20px;

}
.divagregar a{
	margin-left: 20px;
	text-decoration: none;
	color:#030223;
}
.divagregar a:hover{
	margin-left: 20px;
	text-decoration: none;
	color:#030223;
}
#error{
	color:#d64a54;
	font-weight: 900;
	margin-left: 20px;
}
.linea{
	margin-top: 5px;
	padding: 5px;
}
.linea:hover{
	background-color:#bcffe7;
	border-radius: 7px;
	padding: 5px;
}
#listdatapubli{
	background-color: #fff;
	padding:17px;
	border-radius: 8px;
	-webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
  	text-transform: capitalize;
}
#listdata{
	border-radius: 8px;
	-webkit-box-shadow: 8px 8px 14px #999;
  	-moz-box-shadow: 8px 8px 14px #999;
  	filter: shadow(color=#999999, direction=135, strength=2);
}
.botonver{
	font-size: 12px!important;
}
.botonver i{
	margin-right: 7px;
}
.clasealer{
	background-color:#ed8e94;
	padding: 5px;
	border-radius: 5px;
	color:#fff;
}
.clasealer:hover{
	background-color:#ed8e94;
	padding: 5px;
	border-radius: 5px;
	color:#fff;
}
.clasealer div button{
	background-color: #fff;
	color:red;
	border:1px solid red;
}
.clasealer div button:hover{
	background-color: red;
	color:#fff;
	border:1px solid red;
}